/* line 7, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
body {
  background: #dddddd;
  color: #242424; }

/* line 12, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
h1 {
  font-size: 3rem; }

/* line 18, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
header {
  background: #181828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #181828 0%, #39373d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #181828), color-stop(100%, #39373d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #181828 0%, #39373d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #181828 0%, #39373d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #181828 0%, #39373d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #181828 0%, #39373d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181828', endColorstr='#39373d',GradientType=0 );
  /* IE6-9 */
  border-bottom: solid 6px #ff0000;
  height: 106px; }

/* line 31, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.logo {
  padding: 20px 0px; }

/* line 37, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal {
  background: -moz-linear-gradient(top, rgba(24, 24, 40, 0.65) 0%, rgba(24, 24, 40, 0) 10%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(24, 24, 40, 0.65)), color-stop(10%, rgba(24, 24, 40, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(24, 24, 40, 0.65) 0%, rgba(24, 24, 40, 0) 10%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(24, 24, 40, 0.65) 0%, rgba(24, 24, 40, 0) 10%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(24, 24, 40, 0.65) 0%, rgba(24, 24, 40, 0) 10%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(24, 24, 40, 0.65) 0%, rgba(24, 24, 40, 0) 10%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6181828', endColorstr='#00181828',GradientType=0 );
  /* IE6-9 */ }

/* line 48, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.menu-fixed {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  background: rgba(221, 221, 221, 0.9); }

/* line 56, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal nav ul {
  display: block;
  text-align: center; }

/* line 61, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px; }

/* line 67, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal nav ul li a {
  color: #242424;
  text-decoration: none;
  font-weight: 600; }

/* line 73, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal nav ul li a.current {
  background-color: #242424; }

/* line 80, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.principal img {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 80px; }

/* line 88, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros {
  background: #242424;
  color: #e6e6e6;
  padding-top: 40px; }

/* line 94, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros h1 {
  font-size: 3rem;
  padding: 0px 0px 10px 0px;
  border-bottom: solid 3px #5d5d5d;
  margin: 0px; }

/* line 101, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros p {
  text-align: justify;
  font-size: .8rem; }

/* line 106, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros .nosimg {
  width: 100%;
  padding: 60px 0px 20px 0px; }

/* line 111, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros .nosfooter {
  width: 100%;
  padding: 20px 0px;
  margin: 0px; }

/* line 117, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros ul {
  position: relative;
  text-align: center; }

/* line 122, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.nosotros ul li {
  display: inline-block;
  text-decoration: none;
  padding: 20px; }

/* line 130, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.servicios {
  padding-bottom: 30px; }

/* line 134, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.servicios img {
  width: 100%; }

/* line 138, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.servicios h1 {
  font-size: 3rem;
  padding: 40px 0px 10px 0px;
  margin: 0px; }

/* line 144, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.servicios p {
  text-align: center;
  padding: 0px 60px 30px 60px;
  font-size: 1.1rem;
  font-weight: 600; }

/* line 151, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.servicios .serv-titulo {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0px; }

/* line 160, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.portafolio {
  background: #242424;
  color: #e6e6e6;
  padding-bottom: 40px; }

/* line 166, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.portafolio h1 {
  margin-bottom: 10px; }

/* line 170, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.portafolio p {
  font-size: .9rem;
  width: 80%;
  float: left; }

/* line 176, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.portafolio a {
  width: 20%;
  float: left;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  color: #5d5d5d;
  border: solid 1px #5d5d5d;
  border-radius: 10px; }

/* line 187, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.portafolio img {
  width: 100%;
  padding: 40px 0px 20px 0px; }

/* line 194, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes {
  padding-bottom: 20px; }

/* line 198, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes h1 {
  margin-bottom: 10px; }

/* line 202, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes ol {
  padding-left: 20px; }

/* line 206, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes ol li {
  font-size: .7rem; }

/* line 210, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes ol li a {
  color: #242424;
  text-decoration: none;
  font-size: .8rem; }

/* line 216, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.clientes ol li a:hover {
  text-decoration: underline; }

/* line 222, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto {
  background: #242424;
  color: #dddddd; }

/* line 227, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto h1 {
  margin-bottom: 20px; }

/* line 231, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .contacto-info {
  font-size: .8rem;
  text-align: center;
  border-bottom: solid 1px #dddddd;
  margin: 0px 80px 20px 80px;
  line-height: 2; }

/* line 239, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto h3 {
  font-size: 1.2rem;
  font-weight: 200; }

/* line 244, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto ul {
  padding-left: 0; }

/* line 248, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto ul li {
  list-style: none;
  padding-bottom: 10px; }

/* line 253, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto input {
  color: #242424;
  background: #dddddd;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  text-align: center; }

/* line 262, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto textarea {
  border-radius: 5px;
  color: #242424;
  background: #dddddd; }

/* line 268, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto button {
  color: #242424;
  background: #dddddd;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-weight: bold; }

/* line 279, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .suscripcion {
  padding: 30px 0px; }

/* line 283, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .sus-email {
  width: 50%;
  float: left;
  padding-right: 20px; }

/* line 289, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .sus-enviar {
  width: 50%;
  float: left; }

/* line 296, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .social {
  padding: 30px 0px; }

/* line 300, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .social ul {
  display: block;
  text-align: right; }

/* line 305, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .social ul li {
  display: inline-block;
  padding: 0px 10px; }

/* line 310, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .social ul li img {
  width: 35px; }

/* line 316, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
.contacto .copy {
  border-top: solid 1px #dddddd;
  text-align: center;
  font-size: .7rem;
  padding: 40px 80px; }

@media (min-width: 480px) and (max-width: 768px) {
  /* line 328, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .portafolio p {
    width: 100%; }
  /* line 332, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .portafolio a {
    width: 100%; }
  /* line 337, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .contacto textarea {
    width: 100%; }
  /* line 341, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .contacto .suscripcion {
    text-align: center; }
  /* line 345, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .contacto .social ul {
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 352, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .contacto textarea {
    width: 100%; }
  /* line 356, C:/Users/Gleny/Documents/GitHub/Esfera/esfera/css/estilos.scss */
  .contacto .suscripcion {
    text-align: center; } }

/*# sourceMappingURL=estilos.css.map */